:root {
  --backgroundColor: #272727;
  --secondaryBackgroundColor: #3b3b3b;
  --fontColor: #c4c4c4;
  --gradient: linear-gradient(90deg, rgba(235, 119, 0, 1) 0%, rgba(255, 202, 40, 1) 100%);
  --borderRadius: 8px;
  --shadow: 0px 3px 4px 0px hsla(0, 0%, 0%, 0.14),
    0px 3px 3px -2px hsla(0, 0%, 0%, 0.12),
    0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
  --bigShadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: 'JetBrains Mono', monospace, Helvetica, system-ui;
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.app {
  width: 95%;
  max-width: 40rem;
  margin: 0 auto;
}

.text-highlighted {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  font-weight: bold;
  font-family: inherit;

  &:hover {
    box-shadow: var(--bigShadow);
    transition: all 300ms;
  }
}

.btn-primary {
  background: var(--gradient);
  color: #000;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--fontColor);
  color: var(--fontColor);
}

.hidden {
  display: none;
}