.notes {
  margin-top: 4rem;

  h1 {
    margin-bottom: 2.5rem;
    font-size: var(--titleFontSize);
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .note-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--secondaryBackgroundColor);
    box-shadow: var(--shadow);

    .note-list-head {
      min-height: 2.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin: 0;
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 715px) {
  .notes {
    margin-top: 2rem;

    h1 {
      margin-bottom: 1.5rem;
    }

    .note-list {
      padding: 0.7rem;
    }
  }
}