.password-toggle {
  position: relative;
  display: flex;

  input {
    width: 100%;
  }

  div {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    fill: var(--fontColor);
    width: 25px;
  }
}
