.modal {
  position: fixed;
  top: 20vh;
  left: 50%;
  width: 90%;
  max-width: 25rem;
  transform: translateX(-50%);
  z-index: 1;
  padding: 1.5rem 2rem;
  border-radius: var(--borderRadius);
  background-color: var(--secondaryBackgroundColor);
  box-shadow: var(--shadow);

  div {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin: 1rem 0 0;
  }
}